{% set siteTitle = 'RentACar' %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"/>
            <link rel="stylesheet" href="/assets/css/main.css"/>
            <title>
                {% if title is defined %}
                    {{ title }}
                    -
                {% endif %}
                {{ siteTitle }}
            </title>
        {% endblock %}
    </head>
    <body>
        <header>
            {% include("Navbar.html.twig") %}
        </header>
        <main>
            {# {{ include("Breadcrumb.html.twig") }} #}
            {% block content %}{% endblock %}
        </main>
        <footer>
            <small>Lacki Kritsimas - 2020</small>
        </footer>
        <script src="/assets/js/scripts.js" type="module"></script>
    </body>
</html>
