{% extends "Base.html.twig" %}
{% set title = "Error #{code}" %}
{% block content %}
    <div class="alert alert--error">
        <h2>{{ code }}</h2>
        <h3>{{ message }}</h3>
    </div>
{% endblock %}
