{% extends "Base.html.twig" %}
{% set title = "Error #{code}" %}
{% block content %}
    <div class="jumbo text-center">
        <h2>{{ code }}</h2>
        <p>{{ message }}</p>
    </div>
{% endblock %}
