{% block navbar %}
    <nav>
        {% block navbarTitle %}
            <h1>
                <a href="/" class="logo">{{ siteTitle }}</a>
            </h1>
        {% endblock %}
        <ul>
            <li {{ (route == 'customers') ? 'class="selected"' : '' }}>
                <a href="/customers">Customers</a>
            </li>
            <li {{ (route == 'vehicles') ? 'class="selected"' : '' }}>
                <a href="/vehicles">Vehicles</a>
            </li>
            <li>
                <a href="/rent">Rent vehicle</a>
            </li>
            <li>
                <a href="/return">Return vehicle</a>
            </li>
            <li {{ (route == 'history') ? 'class="selected"' : '' }}>
                <a href="/history">History</a>
            </li>
        </ul>
    </nav>
{% endblock %}
