* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f8f9fa;
}

header ul {
    list-style: none;
    background-color: #666;
}

header ul > li {
    display: inline-block;
    padding: 16px;
}

header ul > li.selected {
    background-color: #444;
}

header ul > li > a {
    color: #fff;
    padding: 8px;
    text-decoration: none;
}

header {
    text-align: center;
}

main {
    text-align: center;
}

footer {
    text-align: center;
}

table {
    margin: 0 auto;
    background-color: #eee;
    border: 1px solid #ccc;
}

table th {
    background-color: #bbb;
    padding: 8px;
    border: none;
}

table td {
    padding: 8px;
    border: none;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

button {
    cursor: pointer;
    color: #fff;
    background-color: #247cff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
}

button[disabled] {
    cursor: default;
    color: #999;
    background-color: #e6e6e6;
}

button.link {
    color: initial;
    background: none;
    border: none;
    text-decoration: underline;
}

button[disabled].link {
    cursor: default;
    color: #999;
}
